##    zip() 
##    enumerate()

### range()

#### range()


                range(start, end, step)

In [1]:
ls = [23,45,56,78,890,34,78,90,3,78,90,4,89,34,67,54,32,67,89]

In [3]:
obj = range(1, 21)
obj

range(1, 21)

In [4]:
type(obj)

range

    range(i=1, i<=20)

In [5]:
for i in obj:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
for i in range(0, 2001, 200):
    print(i)

0
200
400
600
800
1000
1200
1400
1600
1800
2000

In [9]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [11]:
range(50, 0, 10)

range(50, 0, 10)

In [10]:
for i in range(50, 0, 10):
    print(i)

In [12]:
for i in range(50, 0, -10):
    print(i)

50
40
30
20
10

In [17]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
ls = [23,34,56,678,89,34,67,89]

In [16]:
len(ls)

8

In [21]:
for i in range(len(ls)):
    print(ls[i])

23
34
56
678
89
34
67
89

In [22]:
ls

[23, 34, 56, 678, 89, 34, 67, 89]

In [23]:
ls[2] = 56//2

In [24]:
ls

[23, 34, 28, 678, 89, 34, 67, 89]

    replace all value of list by their half 
            with the help of while loop & for loop both

In [25]:
ls

[23, 34, 28, 678, 89, 34, 67, 89]

In [26]:
i = 0

while i < len(ls):
    ls[i] = ls[i] // 2
    i += 1

In [27]:
print(ls)

[11, 17, 14, 339, 44, 17, 33, 44]

In [28]:
ls

[11, 17, 14, 339, 44, 17, 33, 44]

In [29]:
for i in range(len(ls)):
    ls[i] = ls[i] // 2

In [30]:
ls

[5, 8, 7, 169, 22, 8, 16, 22]

In [31]:
ls  = [10,20,30,40,50]

In [33]:
ls[0]

10

In [34]:
s = str(ls)
s

'[10, 20, 30, 40, 50]'

In [35]:
s[0]

'['

In [36]:
s[1]

'1'

In [38]:
print(list(s))

['[', '1', '0', ',', ' ', '2', '0', ',', ' ', '3', '0', ',', ' ', '4', '0', ',', ' ', '5', '0', ']']

In [39]:
s

'[10, 20, 30, 40, 50]'

In [40]:
s[1:-1]

'10, 20, 30, 40, 50'

In [42]:
s1 = s.strip('[]')
s1

'10, 20, 30, 40, 50'

In [44]:
ls = s1.split(', ')
ls

['10', '20', '30', '40', '50']

In [45]:
for i in range(len(ls)):
    ls[i] = int(ls[i])

In [46]:
ls

[10, 20, 30, 40, 50]

In [47]:
names = ['rahul', 'anil', 'nitin', 'vaibhav']
ages = [23, 21, 25, 27]

    student_name: rahul
    student_age: 23
    
    student_name: anil
    student_age: 21

In [48]:
for i in range(len(names)):
    print(f"Student_name: {names[i]}")
    print(f"Student_age: {ages[i]}")
    print()

Student_name: rahul
Student_age: 23

Student_name: anil
Student_age: 21

Student_name: nitin
Student_age: 25

Student_name: vaibhav
Student_age: 27

    5 * 1 = 5
    5 * 2 = 10
    5 * 3 = 15
    5 * 4 = 20
    .
    .
    .

In [51]:
N = int(input('Enter a number: '))

for i in range(1, 11):
    print(f"{N} * {i} = {N*i}")

Enter a number: 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

## zip()

                zip(*iterables)

In [1]:
zip([10,20,30], [100,200,300])

In [53]:
for i in zip([10,20,30], [100,200,300]):
    print(i)

(10, 100)
(20, 200)
(30, 300)

In [2]:
it_1 = [10,20,30]
it_2 = [100,200,300]

In [3]:
for i in range(len(it_1)):
    tp = (it_1[i], it_2[i])
    print(tp)

(10, 100)
(20, 200)
(30, 300)

In [4]:
names = ['rahul', 'vaibhav', 'akshat', 'aman', 'sunil']
ages = [25, 26, 24, 23, 25]
address = ['jaipur', 'ajmer', 'alwar', 'jaipur', 'jaipur']

    user_name: rahul
    user_age: 25
    user_address: jaipur

In [5]:
for i in range(len(names)):
    print(f"User_name: {names[i]}")
    print(f"User_age: {ages[i]}")
    print(f"User_address: {address[i]}")
    print()

User_name: rahul
User_age: 25
User_address: jaipur

User_name: vaibhav
User_age: 26
User_address: ajmer

User_name: akshat
User_age: 24
User_address: alwar

User_name: aman
User_age: 23
User_address: jaipur

User_name: sunil
User_age: 25
User_address: jaipur

In [6]:
names = ['rahul', 'vaibhav', 'akshat', 'aman', 'sunil', 'rohan']
ages = [25, 26, 24, 23, 25]
address = ['jaipur', 'ajmer', 'alwar', 'jaipur', 'jaipur']

In [7]:
for i in range(len(names)):
    print(f"User_name: {names[i]}")
    print(f"User_age: {ages[i]}")
    print(f"User_address: {address[i]}")
    print()

User_name: rahul
User_age: 25
User_address: jaipur

User_name: vaibhav
User_age: 26
User_address: ajmer

User_name: akshat
User_age: 24
User_address: alwar

User_name: aman
User_age: 23
User_address: jaipur

User_name: sunil
User_age: 25
User_address: jaipur

User_name: rohan

IndexError: list index out of range

In [8]:
names = ['rahul', 'vaibhav', 'akshat', 'aman', 'sunil', 'rohan']
ages = [25, 26, 24, 23, 25]
address = ['jaipur', 'ajmer', 'alwar', 'jaipur', 'jaipur']

In [9]:
zip(names, ages, address)

In [10]:
for i in zip(names, ages, address):
    print(i)

('rahul', 25, 'jaipur')
('vaibhav', 26, 'ajmer')
('akshat', 24, 'alwar')
('aman', 23, 'jaipur')
('sunil', 25, 'jaipur')

### unpacking

In [11]:
ls = [23,34,56,67,34]

In [12]:
a,b,c,d,e = ls

In [13]:
a

23

In [14]:
b

34

In [15]:
c

56

In [16]:
d

67

In [17]:
e

34

In [18]:
ls

[23, 34, 56, 67, 34]

In [19]:
a,b = ls

ValueError: too many values to unpack (expected 2)

In [21]:
tp = (23,34,67)

In [22]:
a,b = tp

ValueError: too many values to unpack (expected 2)

In [23]:
a,b,c,d = tp

ValueError: not enough values to unpack (expected 4, got 3)

In [24]:
string = 'python'

In [25]:
a,b,c,d,e,f = string

In [26]:
a

'p'

In [27]:
b

'y'

In [28]:
c

't'

In [29]:
d

'h'

In [30]:
d1 = {'name':'aman', 'age':25, 'address':'jaipur'}
d1

{'name': 'aman', 'age': 25, 'address': 'jaipur'}

In [31]:
name, age, address = d1

In [32]:
name

'name'

In [33]:
age

'age'

In [34]:
address

'address'

In [35]:
a,b,c = 'python'

ValueError: too many values to unpack (expected 3)

In [36]:
a,b,c = 'we are learning python'

ValueError: too many values to unpack (expected 3)

In [37]:
d1

{'name': 'aman', 'age': 25, 'address': 'jaipur'}

In [38]:
name, age, address = d1.values()

In [40]:
name

'aman'

In [41]:
age

25

In [42]:
address

'jaipur'

In [54]:
names = ['rahul', 'vaibhav', 'akshat', 'aman', 'sunil', 'rohan']
ages = [25, 26, 24, 23, 25]
address = ['jaipur', 'ajmer', 'alwar', 'jaipur', 'jaipur']

In [49]:
for i in zip(names, ages, address):
    print(f"User_name: {i[0]}")
    print(f"User_age: {i[1]}")
    print(f"User_address: {i[2]}")
    print()

User_name: rahul
User_age: 25
User_address: jaipur

User_name: vaibhav
User_age: 26
User_address: ajmer

User_name: akshat
User_age: 24
User_address: alwar

User_name: aman
User_age: 23
User_address: jaipur

User_name: sunil
User_age: 25
User_address: jaipur

    i = ('rahul', 25, 'jaipur')
    i = ('vaibhav', 26, 'ajmer')
    i = ('akshat', 24, 'alwar')
    i = ('aman', 23, 'jaipur')
    i = ('sunil', 25, 'jaipur')

In [51]:
for i in zip(names, ages, address):
    name, age, add = i
    print(name)
    print(age)
    print(add)
    print()

rahul
25
jaipur

vaibhav
26
ajmer

akshat
24
alwar

aman
23
jaipur

sunil
25
jaipur

In [55]:
for name, age, add in zip(names, ages, address):
    print(name)
    print(age)
    print(add)
    print()

rahul
25
jaipur

vaibhav
26
ajmer

akshat
24
alwar

aman
23
jaipur

sunil
25
jaipur

In [56]:
d1

{'name': 'aman', 'age': 25, 'address': 'jaipur'}

In [57]:
d1.items()

dict_items([('name', 'aman'), ('age', 25), ('address', 'jaipur')])

In [58]:
for i in d1.items():
    print(i)

('name', 'aman')
('age', 25)
('address', 'jaipur')

In [59]:
for key, value in d1.items():
    print(f"{key} : {value}")

name : aman
age : 25
address : jaipur

## enumerate()

In [60]:
enumerate([10,20,30,40])

        (0, 10)
        (1, 20)
        (2, 30)
        (3, 40)

In [61]:
for i in enumerate([10,20,30,40]):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)

In [62]:
for i in enumerate([10,20,30,40], 100):
    print(i)

(100, 10)
(101, 20)
(102, 30)
(103, 40)

In [63]:
names

['rahul', 'vaibhav', 'akshat', 'aman', 'sunil', 'rohan']

In [64]:
names.sort()

In [65]:
names

['akshat', 'aman', 'rahul', 'rohan', 'sunil', 'vaibhav']

In [66]:
for roll_no, name in enumerate(names, 1):
    print(f"{roll_no} : {name}")

1 : akshat
2 : aman
3 : rahul
4 : rohan
5 : sunil
6 : vaibhav

In [67]:
d1

{'name': 'aman', 'age': 25, 'address': 'jaipur'}

In [68]:
for i in zip(d1, d1.values()):
    print(i)

('name', 'aman')
('age', 25)
('address', 'jaipur')

In [71]:
ls = [10,20,30,40,50]

In [72]:
for ls[-1] in ls:
    print('hello world')
else:
    print(ls)

hello world
hello world
hello world
hello world
hello world
[10, 20, 30, 40, 40]