In [4]:
ls = [10,20,30,40,50]

    for var in iterable:
        st

In [ ]:
for i in ls:
    print(i)

In [2]:
for ls[-1] in ls:
    pass
else:
    print(ls)

[10, 20, 30, 40, 40]

In [5]:
for ls[-1] in ls:
    print(ls)

[10, 20, 30, 40, 10]
[10, 20, 30, 40, 20]
[10, 20, 30, 40, 30]
[10, 20, 30, 40, 40]
[10, 20, 30, 40, 40]

In [6]:
ls

[10, 20, 30, 40, 40]

In [7]:
ls = [10,20,30,40,50]

In [8]:
for ls[0] in ls:
    pass
else:
    print(ls)

[50, 20, 30, 40, 50]

In [9]:
ls = [10,20,30,40,50]

In [10]:
for ls[-2] in ls:
    pass
else:
    print(ls)

[10, 20, 30, 50, 50]

# List comprehension

            syntax:
            
                        [expression for var in iterable]

In [12]:
ls = [i for i in range(5)]
ls

[0, 1, 2, 3, 4]

In [13]:
[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
ls

[0, 1, 2, 3, 4]

In [16]:
[i / 2 for i in ls]

[0.0, 0.5, 1.0, 1.5, 2.0]

In [17]:
N = int(input())
ls = []
for i in range(N):
    v = input('Enter value')
    ls.append(v)
print(ls)

5
Enter valueaman
Enter valuerohan
Enter valueram
Enter valuesachin
Enter valuerahul
['aman', 'rohan', 'ram', 'sachin', 'rahul']

In [19]:
[input(f'Enter value {i+1}: ') for i in range(5)]

Enter value 1: rohan
Enter value 2: aman
Enter value 3: rahul
Enter value 4: anil
Enter value 5: sunil

['rohan', 'aman', 'rahul', 'anil', 'sunil']

In [20]:
print([input(f'Enter value {i+1}: ') for i in range(int(input('Enter number of values: ')))])

Enter number of values: 3
Enter value 1: sachin
Enter value 2: rohan
Enter value 3: shiv
['sachin', 'rohan', 'shiv']

In [21]:
print([(i, i**2) for i in range(10, 101, 10)])

[(10, 100), (20, 400), (30, 900), (40, 1600), (50, 2500), (60, 3600), (70, 4900), (80, 6400), (90, 8100), (100, 10000)]

In [24]:
data = [[input(f'Enter name {i + 1}: '), input('Enter your address: ')] for i in range(5)]
data

Enter name 1: aman
Enter your address: jaipur
Enter name 2: rohan
Enter your address: jaipur
Enter name 3: ram
Enter your address: jaipur
Enter name 4: sachin
Enter your address: jaipur
Enter name 5: sachin
Enter your address: jaipur

[['aman', 'jaipur'],
 ['rohan', 'jaipur'],
 ['ram', 'jaipur'],
 ['sachin', 'jaipur'],
 ['sachin', 'jaipur']]

In [25]:
print(data)

[['aman', 'jaipur'], ['rohan', 'jaipur'], ['ram', 'jaipur'], ['sachin', 'jaipur'], ['sachin', 'jaipur']]

In [26]:
dict(data)

{'aman': 'jaipur', 'rohan': 'jaipur', 'ram': 'jaipur', 'sachin': 'jaipur'}

In [28]:
for i in range(5):
    for  j in range(3):
        print((i,j))

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [27]:
print([(i,j) for i in range(5) for j in range(3)])

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2), (3, 0), (3, 1), (3, 2), (4, 0), (4, 1), (4, 2)]

In [29]:
print([(i+j) for i in range(5) for j in range(3)])

[0, 1, 2, 1, 2, 3, 2, 3, 4, 3, 4, 5, 4, 5, 6]

    [expression for var in iterable if condition]

In [30]:
print([i for i in range(5) if i % 2 == 0])

[0, 2, 4]

In [31]:
names = ['rohan', 'aman', 'rahul', 'anil', 'sunil']

In [32]:
[i.upper() for i in names]

['ROHAN', 'AMAN', 'RAHUL', 'ANIL', 'SUNIL']

In [33]:
[i.upper() for i in names if i.startswith('a')]

['AMAN', 'ANIL']

In [34]:
print([i for i in dir(list) if not i.startswith('__')])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [35]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [37]:
print([i for i in dir(list)])

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [40]:
for i in dir(list):
    if not i.startswith('__'):
        print(i)

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [41]:
print([i for i in dir(list) if not i.startswith('__')])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [42]:
print([i for i in range(5) if i % 2 == 0 else 5])

SyntaxError: invalid syntax (394919515.py, line 1)

In [1]:
ls = [23,45,67,23,56,678,89,34,3,67]

In [2]:
[i for i in ls if i % 2 == 0]

[56, 678, 34]

In [3]:
[True if i % 2 == 0 else False for i in ls]

[False, False, False, False, True, True, False, True, False, False]

In [4]:
['even' if i % 2 == 0 else 'odd' for i in ls]

['odd', 'odd', 'odd', 'odd', 'even', 'even', 'odd', 'even', 'odd', 'odd']

In [5]:
names = ['anil', 'sunil', 'rahul', 'ashish']

In [6]:
[i.upper() if i.startswith('a') else i.title() for i in names]

['ANIL', 'Sunil', 'Rahul', 'ASHISH']

## nested if 
## nested if else

## dict comprehension

## tuple comprehension