## working on csv files

In [5]:
header = "Name,Age,Address\n"

In [2]:
with open('new2.txt', 'w') as f:
    f.write(header)

In [6]:
with open('data.csv', 'w') as f:
    f.write(header)

In [9]:
with open('data.csv', 'a') as f:
    N = int(input('How many rows you want to insert: '))
    lines = ""
    for i in range(N):
        name = input('Enter your name: ')
        age = int(input('Enter your age: '))
        address = input('Enter your address: ')
        row = f"{name},{age},{address}\n"
        lines += row
    else:
        f.write(lines)

How many rows you want to insert:  5
Enter your name:  ashish
Enter your age:  25
Enter your address:  jaipur
Enter your name:  rohan
Enter your age:  25
Enter your address:  jaipur
Enter your name:  rahul
Enter your age:  26
Enter your address:  jaipur
Enter your name:  akshat
Enter your age:  29
Enter your address:  jaipur
Enter your name:  pratham
Enter your age:  25
Enter your address:  jaipur

In [7]:
N = int(input('How many rows you want to insert: '))
lines = ""
for i in range(N):
    name = input('Enter your name: ')
    age = int(input('Enter your age: '))
    address = input('Enter your address: ')
    row = f"{name},{age},{address}\n"
    lines += row

How many rows you want to insert:  3
Enter your name:  ashish
Enter your age:  25
Enter your address:  address
Enter your name:  vaibhav
Enter your age:  25
Enter your address:  jaipur
Enter your name:  aman
Enter your age:  25
Enter your address:  jaipur

In [8]:
print(lines)

ashish,25,address
vaibhav,25,jaipur
aman,25,jaipur