In [4]:
class Python6pm:

    def __init__(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address

In [5]:
obj1 = Python6pm('kunal', 23, 'jaipur')
obj2 = Python6pm('Aman', 23, 'jaipur')
obj3 = Python6pm('Nitin', 24, 'jaipur')
obj4 = Python6pm('Rahul', 25, 'jaipur')

In [6]:
obj1.__dict__

{'name': 'kunal', 'age': 23, 'address': 'jaipur'}

In [7]:
obj2.__dict__

{'name': 'Aman', 'age': 23, 'address': 'jaipur'}

In [12]:
class Python6pm:

    def __init__(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address
        
    def show_details(self):
        print(f"Student name: {self.name}")
        print(f"Student age: {self.age}")
        print(f"Student address: {self.address}")

In [13]:
obj1 = Python6pm('kunal', 23, 'jaipur')
obj2 = Python6pm('Aman', 23, 'jaipur')
obj3 = Python6pm('Nitin', 24, 'jaipur')
obj4 = Python6pm('Rahul', 25, 'jaipur')

In [14]:
obj1.show_details()

Student name: kunal
Student age: 23
Student address: jaipur

In [15]:
obj2.show_details()

Student name: Aman
Student age: 23
Student address: jaipur

In [16]:
obj3.name

'Nitin'

In [17]:
obj3.age

24

In [18]:
obj3.address

'jaipur'

In [19]:
obj3.address = 'ajmer'

In [20]:
obj3.show_details()

Student name: Nitin
Student age: 24
Student address: ajmer

    --->  class --> student

                avg  ---> method
                        returns avg of three subject marks

In [26]:
class Student:

    def __init__(self, m1, m2, m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return round((self.m1 + self.m2 + self.m3) / 3, 2)

In [27]:
s1 = Student(23,32,34)
s2 = Student(22,33,42)

In [28]:
s1.avg()

29.67

In [29]:
s2.avg()

32.33

In [31]:
s1.m1

23

In [32]:
s1.m1 = 50

In [33]:
s1.avg()

38.67

In [34]:
class Student:

    def __init__(self, m1, m2, m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def avg(self):
        return round((self.m1 + self.m2 + self.m3) / 3, 2)

    def set_m1(self):
        self.m1 = int(input('Enter new m1: '))

In [35]:
s1 = Student(23,32,34)
s2 = Student(22,33,42)

In [36]:
s1.avg()

29.67

In [37]:
s2.avg()

32.33

In [38]:
s1.set_m1()

Enter new m1:  50

In [39]:
s1.avg()

38.67

In [43]:
class Person:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show_details(self):
        for key, value in self.__dict__.items():
            print(f"{key} : {value}")

In [44]:
p1 = Person('akshat', 23)
p2 = Person('aman', 24)

In [45]:
p1.show_details()

name : akshat
age : 23

In [46]:
p2.show_details()

name : aman
age : 24

In [47]:
p1.compare(p2)

AttributeError: 'Person' object has no attribute 'compare'

In [49]:
class Person:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def show_details(self):
        for key, value in self.__dict__.items():
            print(f"{key} : {value}")

    def compare(self, obj):
        if self.age > obj.age:
            return True
        else:
            return False

In [50]:
p1 = Person('akshat', 23)
p2 = Person('aman', 24)

In [51]:
p1.compare(p2)

False

In [52]:
if p1.compare(p2):
    print(f"{p1.name} is bigger than {p2.name}")
else:
    print(f"{p2.name} is bigger than {p1.name}")

aman is bigger than akshat

In [73]:
class Student:

    def __init__(self, *marks):
        self.marks = marks

    def avg(self):
        return sum(self.marks) / len(self.marks)

    def compare(self,other):
        if sum(self.marks) > sum(other.marks):
            return True
        else:
            return False

In [74]:
s1 = Student(23,45,56,23)
s2 = Student(32,45,23,45)

In [75]:
s1.__dict__

{'marks': (23, 45, 56, 23)}

In [76]:
s2.__dict__

{'marks': (32, 45, 23, 45)}

In [77]:
s1.avg()

36.75

In [78]:
s2.avg()

36.25

In [79]:
tp = (23,45,67,89)

In [80]:
sum(tp) / len(tp)

56.0

In [81]:
s1.compare(s2)

True